html, body{
    margin:10px;
    font-family: sans-serif;
}

th{
    background-color: black;
    color: whitesmoke;
    font-size: 1.1rem;
    text-transform: uppercase;
}

td, tr{
    padding: 5px;
}

tbody > tr:hover{
    background-color: aqua;
}

tbody > tr:nth-child(even):hover{
    background-color: aqua;
}

tbody > tr:nth-child(even){
    background-color: #f3e9ec;
}